ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(120, 165, 224);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(8, 6, 6);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(77, 164, 137);
  }
  
  .active {
    background-color: #04AA6D;
  }