body {
    background-color: palegreen;
}

#logo {
    width: 90px;
    position: relative;
    top: 3px;
}

.navigation {
    display: block;
    overflow: hidden;
    background-color: rgb(80, 219, 80);
}

.navigation a {
    position: relative;
    top: -35px;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.head4 {
    text-shadow: 2px 0px 2px red;
}